:root {

    --website-button-color: #240046;
    --website-nav-menu-text-color: #f8f9fa;
    --website-hero-title-color: #b9bbb8;
    --website-title-higlighted-color: #f48c06;
    --website-shiny-wite-color: #f8f7ff;
    --website-text-color: #1e2749;
    --website-section-title-color: #03045e;
    --website-border-radius: 6px;
    --website-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.14);
    --box-shadow-header: 0px 2px 5px 1px rgba(0, 0, 0, 0.277);


    --font-size-h1: 2.90rem;
    --font-size-h2: 1.10rem;
    --font-size-a: 1rem;
    --font-size-p: 1rem;

    --small-text-size: 0.90rem;
    --medium-text-size: 1rem;
    --mobile-section-heading-size: 1.40rem;
    --dekstop-section-heading-size: 2.30rem;
    --hero-title-mobile: 2.20rem;
    --hero-title-dekstop: 4rem;

    --font-family-1-rare-used: 'Alex Brush', cursive;
    --font-family-2-main-title-font: 'DM Serif Display', serif;
    --font-family-3-helper: 'Kaushan Script', cursive;
    --font-family-4-website-text: 'Poppins', sans-serif;
}

/*===========================================================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 160px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-main);
    background-color: #F9FDFF;
}

ul,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font-family-4-website-text);
    background-color: transparent;
}

span {
    display: inline-block;
}

.over-flow {
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    justify-content: center;
}

.main-container {
    width: 100%;
    height: 100%;
}

.title-heading {

    font-family: var(--font-family-2-main-title-font);
    color: var(--website-section-title-color);
    font-weight: 600;
    text-align: center;
}

.helper {
    font-family: var(--font-family-2-main-title-font);
    color: var(--website-title-higlighted-color);
    font-weight: 600;

}

.animated-text {
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
    -webkit-animation: animate 10s linear infinite;
}

@keyframes animate {
    to {
        background-position: 400%;
    }
}

/*footerbar============================================*/

.footer-container {
    width: 100%;
    background-color: var(--website-button-color);
    justify-content: center;
    height: auto;
    justify-content: center;
    gap: 20px;
    padding-block: 20px;

}

.sec {
    width: 200px;
    height: auto;
}

.service-links {
    color: whitesmoke;
    font-size: 12px;
    font-family: var(--font-family-4-website-text);
    flex-direction: column;
    row-gap: 20px;
}

.footer-c-bar {

    width: 100%;
    background-color: #0F4D5C;
    height: 40px;
}

.footer-c-bar :is(p) {

    font-size: 13px;
    font-family: var(--font-family-4-website-text);
    text-align: center;
    color: whitesmoke;
    height: 100%;
    padding-top: 10px;

}

.footer-c-bar :is(a) {

    color: #f48c06;
}

.signature {
    font-family: var(--font-family-1-rare-used);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}


/*header---and---navbar==================================*/

.logo-text {
    width: 120px;
}

.logo-icon {
    width: 40px;
}

.logo-container {
    margin-left: 20px;
    justify-content: center;
    gap: 7px;
}

.bg-header {
    background-color: #ECAA4D;
    box-shadow: var(--box-shadow-header);

}

.main-header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 100;

}

.menu-links {

    color: var(--website-nav-menu-text-color);
    font-weight: 400;
    font-size: 14px;
}

#open-menu,
#close-menu {

    display: none;
    font-size: 25px;
    color: var(--website-shiny-wite-color);
    cursor: pointer;
    background-color: hsla (180, 12%, 8%, 0.8);
}

.button-links {
    height: 2.80rem;
    line-height: 2.80rem;
    font-size: 14px;
    width: 11rem;
    text-align: center;
    border-radius: var(--website-border-radius);
    color: var(--website-shiny-wite-color);
    background-color: var(--website-button-color);

}

/*hero-section===========================================*/

.hero-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.352);
}

.hero-text-heading {

    color: var(--website-hero-title-color);
    font-weight: 700;
    text-align: center;
    width: 100%;

}

.animated-text {
    font-weight: 700;
    text-align: center;
}

/*info-section============================================*/

.info-container {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.info-cards-container {
    margin-top: 30px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

.info-card {
    justify-content: center;
    flex-direction: column;
    background-color: #5335cf;
    border-radius: 7px;
    box-shadow: var(--website-box-shadow);
    transition: 0.6s ease-in;
    position: relative;
}

.info-card:hover {
    transform: scale(1.1);
}

.info-description {
    padding-top: 25px;
    text-align: center;
    font-family: var(--font-family-4-website-text);
    color: white;
    width: 100%;
}

.info-img {
    position: absolute;
    width: 50px;
    margin-inline: auto;
    top: -20px;
}

/*our-service-section=====================================*/

.service-section {
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    /* background-image:url(/assets/images/1.jpg); */
    background: linear-gradient(144deg, rgba(207, 224, 250, 1) 33%, rgba(216, 228, 250, 1) 57%, rgba(241, 239, 249, 1) 74%, rgba(249, 243, 249, 1) 99%);
    padding-bottom: 20px;
    background-position: top;
    background-size: contain;
}

.service-section h1 {
    padding-top: 30px;
}

.service-container {
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: center;
    gap: 10px;
}

.service-card {
    border-radius: var(--website-border-radius);
    padding-top: 20px;
    background-color: #3a0ca3;
    box-shadow: var(--website-box-shadow);
}

.service-card p {
    padding-top: 5px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    color: #fdfbfd;
    font-family: var(--font-family-4-website-text);
}

.service-img {
    width: 80px;
    display: block;
    margin-inline: auto;
}

/*About-us-section========================================*/

.about-us {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    padding-top: 40px;
    flex-direction: column;
}

.about-us-container {
    background-image: url(/assets/images/lkkk.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    height: fit-content;
    padding-bottom: 30px;
    background-color: #f8f7ff;
    box-shadow: var(--website-box-shadow);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.about-us-text-box {
    margin-top: 20px;
    width: 95%;
}

/*customer-section=======================================*/

.customer-container {
    width: 100%;
    background-image: url(/assets/images/5386459.jpg);
    margin-top: 30px;
    background-size: cover;
    background-position: center center;
}

.customer-info {
    justify-content: center;
}

.customers {
    border-radius: 8px;
    border: 1px solid white;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.286);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
}

.customers-icon {

    width: 50px;

}


.customer-des {
    padding-top: 10px;
    font-family: var(--font-family-4-website-text);
    text-align: center;
    color: whitesmoke;

}

/*gallery-section=======================================*/
.our-gallery {
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.gallery-container {
    justify-content: center;
}

.gallery {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: 4px solid whitesmoke;
    box-shadow: var(--website-box-shadow);
}

/*mobile device responsive css starts from here================================================*/
@media screen and (min-width:240px) {


    /* nav-bar-section */

    #open-menu,
    #close-menu {
        display: block;
    }

    #open-menu {
        margin-right: 20px;
    }

    .nav-bar-container {
        position: fixed;
        background-color: hsla (180, 12%, 8%, 0.8);
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
        right: -100%;
        top: 0;
        width: 60%;
        height: 100%;
        border-left: 2px solid var(--first-color-gray);
        transition: right 0.3s;
    }

    .nav-menu {
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    .show {
        right: 0;
    }

    #close-menu {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    /*--hero--section==================================*/

    .hero-container {

        width: 100%;
        height: 500px;
        justify-content: center;
        background-image: url(/assets/images/mobile-hero.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .hero-text {
        width: 80%;
        z-index: 5;
    }

    .hero-text-heading {
        font-size: var(--hero-title-mobile);
    }

    /*info-section=====================================*/

    .info-card {
        width: 160px;
        height: 130px;
    }

    .info-description {
        font-size: 11px;
        width: 90%;
    }

    .info-cards-container {
        row-gap: 30px;
        column-gap: 10px;
    }

    /*our-service-section===============================*/

    .service-card {
        width: 150px;
        height: 130px;
    }

    .service-card p {
        font-size: 13px;
    }

    .title-heading {
        font-size: var(--mobile-section-heading-size);
    }

    .service-container {
        margin-top: 20px;
    }

    /*about-us-section===================================*/

    .about-us-container {
        flex-direction: column;
        position: relative;
    }

    .about-us-image {
        background-image: url(/businees-img/FIF_2194.JPG);
        background-position: center;
        background-size: cover;
        height: 150px;
        width: 150px;
        margin-top: 20px;
        border: 3px solid white;
        border-radius: 50%;
        box-shadow: var(--website-box-shadow);
        border-top: 4px solid red;
        border-bottom: 4px solid green;
        position: relative;
    }

    .about-us-image::before,
    .about-us-image::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #8a82fb;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.7;
    }
    .about-us-image:before{
        animation: pulse 2s ease-out infinite;
    }
    .about-us-image:after{
        animation: pulse 2s 1s ease-out infinite;
    }
    @keyframes pulse{
        100%{
            transform: scale(1.5);
            opacity: 0;
        }
    }

    .about-us-description {
        font-family: var(--font-family-4-website-text);
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding-inline: 10px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    /*consult-now=======================================*/

    .consult-now {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        background: linear-gradient(270deg, #ff9100, #f27059, #aacc00);
        background-size: 600% 600%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    .consult-now-button {

        color: whitesmoke;
        width: 100%;
        height: 100%;
        line-height: 60px;
        font-size: 13px;
        text-align: center;
        font-family: var(--font-family-4-website-text);

    }

    /*-customer-container=================================*/

    .customer-info {

        padding-block: 20px;
        column-gap: 10px;
        row-gap: 10px;
        flex-wrap: wrap;

    }

    .customers {

        width: 160px;
        height: 150px;
    }

    .customer-des {

        font-weight: 400;
        font-size: 12px;
        width: 95%;

    }

    /*gallery-section====================================*/

    .our-gallery {
        margin-top: 30px;
    }

    .gallery-container {
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 20px;
        padding-inline: 5px;
        margin-bottom: 50px;
    }

    .gallery {
        width: 160px;
        height: 150px;

    }

    .image-1 {
        background-image: url(/businees-img/IMG_20230319_201231\(1\).jpg);
        background-position: top;
        background-repeat: no-repeat;
    }

    .image-2 {
        background-image: url(/businees-img/IMG_20230319_200938\(1\).jpg);
        background-position: top;
    }

    .image-3 {
        background-image: url(/businees-img/IMG_20230319_200856\(1\).jpg);
        background-position: top;
    }

    .image-4 {
        background-image: url(/businees-img/FIF_1855.JPG);
        background-position: top;
    }

    .image-5 {
        background-image: url(/businees-img/FIF_1863.JPG);
        background-position: right;
    }

    .image-6 {
        background-image: url(/businees-img/FIF_1910.JPG);
        background-position: top;
    }

    .image-7 {
        background-image: url(/businees-img/FIF_1930.JPG);
        background-position: top;
    }

    .image-8 {
        background-image: url(/businees-img/FIF_1921.JPG);
        background-position: top;
    }



}

/*dekstop devices responsive css starts here*/

@media screen and (min-width:1049px) {


    .service-container {
        width: 700px;
        flex-wrap: wrap;
    }


    .title-heading {
        font-size: var(--dekstop-section-heading-size);
    }

    /*info-section=================================*/



    .info-card {
        width: 200px;
        height: 150px;
    }

    .info-img {
        width: 70px;
    }

    /*about-us=====================================*/

    .about-us-container {
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
    }

    .about-us-image {
        border-radius: 8px;
        width: 600px;
        height: 400px;
        border: none;
    }
    .about-us-image::before,
    .about-us-image::after {
        display: none;
    }

    .about-us-text-box {
        width: 50%;
    }

    .about-us-description {
        font-size: 17px;
        margin-top: 40px;
    }

    .about-us-text-box :is(h1) {
        font-size: 35px;
    }

    /*nav and header================================*/

    #open-menu,
    #close-menu {
        display: none;
    }

    .nav-bar-container {
        position: relative;
        background-color: transparent;
        border: none;
        backdrop-filter: none;
        right: 0;
        height: auto;
        width: auto;
        z-index: 0;
    }

    .nav-menu {

        flex-direction: row;
        gap: 30px;
        margin-top: 0;
        margin-right: 20px;

    }

    .main-header {

        height: 70px;
    }

    .button-links {
        height: 3rem;
        line-height: 3rem;
    }

    /*hero-section================================*/

    .hero-text-heading {
        font-size: var(--hero-title-dekstop);
    }

    .animated-text {
        font-size: var(--hero-title-dekstop);
    }

    .hero-container {
        background-image: url(/assets/images/dekstop-hero-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
        animation: slides 28s infinite ease-in;
        -webkit-animation: slides 28s infinite ease-in;

    }

    @keyframes slides {

        10% {

            background-image: url(/assets/images/dekstop-hero-2.jpg);

        }

        30% {
            background-image: url(/assets/images/dekstop-hero-3.jpg);

        }

        50% {
            background-image: url(/assets/images/dekstop-hero-4.jpg);

        }

        70% {
            background-image: url(/assets/images/dekstop-hero-5.jpg);

        }

        90% {
            background-image: url(/assets/images/dekstop-hero-6.jpg);

        }

        100% {
            background-image: url(/assets/images/dekstop-hero-1.jpg);
        }



    }

    /*--consult-now-sticky-section-----------------*/

    .consult-now {
        display: none;
    }


    /*achivment-section--------*/

    .customer-info {
        gap: 30px;
    }

    .customers {
        width: 200px;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    .customer-des {
        width: 95%;
        color: whitesmoke;
        padding-inline: 5px;
        font-weight: 500;
    }

    .customer-container {
        background-image: none;
        background-color: #240046;
        background-image: url(/assets/images/lkkk.png);
        background-size: contain;
    }

    /*Gallery==========================*/

    .gallery-container {
        flex-wrap: wrap;
        gap: 20px;
        padding-inline: 5px;
        margin-bottom: 50px;
    }

    .gallery {
        width: 300px;
        height: 250px;
    }

}