:root {
  --website-button-color: #240046;
  --website-nav-menu-text-color: #f8f9fa;
  --website-hero-title-color: #b9bbb8;
  --website-title-higlighted-color: #f48c06;
  --website-shiny-wite-color: #f8f7ff;
  --website-text-color: #1e2749;
  --website-section-title-color: #03045e;

  --website-border-radius: 6px;
  --website-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.14);
  --box-shadow-header: 0px 2px 5px 1px rgba(0, 0, 0, 0.277);

  --small-text-size: 0.9rem;
  --medium-text-size: 1rem;
  --mobile-section-heading-size: 2.4rem;
  --dekstop-section-heading-size: 2rem;
  --hero-title-mobile: 2.3rem;
  --hero-title-dekstop: 4rem;

  --font-family-1-rare-used: "Alex Brush", cursive;
  --font-family-2-main-title-font: "DM Serif Display", serif;
  --font-family-3-helper: "Kaushan Script", cursive;
  --font-family-4-website-text: "Poppins", sans-serif;
}

/*mobile device responsive css starts from here================================================*/

@media screen and (min-width: 240px) {
  /* nav-bar-section */

  #open-menu,
  #close-menu {
    display: block;
    color: #240046;
  }

  #open-menu {
    margin-right: 20px;
  }

  .nav-bar-container {
    position: fixed;
    background-color: hsla (180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    right: -100%;
    top: 0;
    width: 60%;
    height: 100%;
    border-left: 2px solid rgba(128, 128, 128, 0.627);
    transition: right 0.3s;
  }

  .nav-menu {
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
  }

  .show {
    right: 0;
  }

  #close-menu {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .menu-links {
    color: var(--website-button-color);
  }

  /*--hero--section==================================*/

  .hero-container {
    width: 100%;
    height: 500px;
    background-image: url(/assets/images/mobile-hero.webp);
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
  }

  .hero-text {
    width: 80%;
    z-index: 5;
  }

  .hero-text-heading {
    font-size: var(--hero-title-mobile);
    color: whitesmoke;
  }

  .swiper {
    display: none;
  }

  .hero-mobile-heading {
    width: 90%;
  }

  /*info-section=====================================*/

  .info-card {
    width: 163px;
    height: 130px;
  }

  .info-description {
    font-size: 11px;
    width: 90%;
  }

  .info-cards-container {
    row-gap: 30px;
    column-gap: 10px;
  }

  .info-container {
    margin-top: 90px;
    justify-content: center;
  }

  .info-heading {
    font-size: 1.5rem;
    padding-inline: 10px;
  }

  /*our-service-section===============================*/

  .service-card {
    width: 150px;
    height: 160px;
    flex-direction: column;
  }

  .service-card p {
    font-size: 13px;
  }

  .service-container {
    margin-top: 20px;
  }

  .service-heading {
    padding-top: 10px;
    font-size: 1.5rem;
  }

  .service-handler {
    color: #f8f9fa;
  }

  /*about-us-section===================================*/

  .about-us-container {
    flex-direction: column;
    position: relative;
  }

  .about-us-image {
    background-image: url(/businees-img/FIF_2194.webp);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: var(--website-box-shadow);
    border-top: 4px solid red;
    border-bottom: 4px solid green;
    position: relative;
  }

  .about-us-image::before,
  .about-us-image::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(315deg, #dd3a66, #7c3add, #3aabdd);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
  }

  .about-us-image:before {
    animation: pulse 2s ease-out infinite;
  }

  .about-us-image:after {
    animation: pulse 2s 1s ease-out infinite;
  }

  @keyframes pulse {
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  .about-us-description {
    font-family: var(--font-family-4-website-text);
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-inline: 9px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  /*consult-now=======================================*/

  .consult-now {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(315deg, #dd3a66, #7c3add, #3aabdd);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .consult-now-button {
    color: whitesmoke;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 13px;
    text-align: center;
    font-family: var(--font-family-4-website-text);
  }

  /*-customer-container=================================*/

  .customer-info {
    padding-block: 20px;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
  }

  .customers {
    width: 160px;
    height: 150px;
  }

  .customer-des {
    font-weight: 400;
    font-size: 12px;
    width: 95%;
    color: #f8f7ff;
  }

  .customer-container h1 {
    color: #ff5349;
  }

  /*************************************/

  .gallery-heading {
    font-size: 1.5rem;
  }

  .gallery-section {
    margin-bottom: 20px;
  }

  .item {
    width: 180px;
    height: 170px;
    border-radius: 8px;
  }

  .gallery-container {
    width: 100%;
    padding-inline: 3px;
  }

  .owl-stage,
  .owl-carousel {
    z-index: -1;
  }

  #gallery-img {
    display: block;
    object-fit: cover;
    object-position: top left;
    height: 100%;
    border-radius: 8px;
  }

}

@media screen and (min-width:360px) {
  .item {
    width: 170px;
    height: 170px;
    border-radius: 8px;
  }
}

/*dekstop devices responsive css starts here*/

@media screen and (min-width: 1049px) {

  .service-heading {
    font-size: 2rem;
  }

  .service-card {
    height: 180px;
    width: 150px;
    flex-direction: column;
  }

  .service-container {
    width: 700px;
    flex-wrap: wrap;
  }

  /*info-section=================================*/

  .info-container {
    width: 100%;
    height: auto;
    margin-top: 90px;
  }

  .info-card {
    width: 200px;
    height: 150px;
  }

  .info-img {
    width: 70px;
  }

  .info-heading {
    font-size: 2rem;
  }

  /*about-us=====================================*/

  .about-us-container {
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
  }

  .about-us-image {
    border-radius: 8px;
    width: 600px;
    height: 400px;
    border: none;
  }

  .about-us-image::before,
  .about-us-image::after {
    display: none;
  }

  .about-us-text-box {
    width: 50%;
  }

  .about-us-description {
    font-size: 17px;
    margin-top: 30px;
  }

  .about-us-text-box :is(h1) {
    font-size: 35px;
  }

  /*nav and header================================*/

  #open-menu,
  #close-menu {
    display: none;
  }

  .nav-bar-container {
    position: relative;
    background-color: transparent;
    border: none;
    backdrop-filter: none;
    right: 0;
    height: auto;
    width: auto;
    z-index: 0;
  }

  .nav-menu {
    flex-direction: row;
    gap: 30px;
    margin-top: 0;
    margin-right: 20px;
  }

  .main-header {
    height: 70px;
  }

  .button-links {
    height: 3rem;
    line-height: 3rem;
  }

  .menu-links {
    color: var(--website-button-color);

  }

  /*hero-section================================*/

  .hero-text-heading {
    font-size: var(--hero-title-dekstop);
    color: var(--website-hero-title-color);

  }

  .animated-text {
    font-size: var(--hero-title-dekstop);
  }

  .hero-container {
    background-image: none;
    top: 70px;
    height: 400px;
  }

  .hero-mobile-heading {
    display: none;
  }

  .swiper {
    width: 100%;
    height: 400px;
    display: block;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*--consult-now-sticky-section-----------------*/

  .consult-now {
    display: none;
  }

  /*achivment-section------------------------------*/

  .customer-info {
    gap: 30px;
  }

  .customers {
    width: 200px;
    border-radius: 15px;
    border: 3px solid whitesmoke;
  }

  .customer-des {
    width: 95%;
    color: #f8f7ff;
    padding-inline: 5px;
    font-weight: 500;
    font-size: 13px;
  }

  .customer-container {
    background-image: url(/assets/images/doctor-helping-patient-during-rehabilitation.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .customer-container::before{
    content: "";
    background-color: #24004638;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .customer-container h1 {
    color: #240046;
  }

  /*gallery-section*/
  .gallery-heading {
    font-size: 2rem;
  }

  .gallery-container {
    max-width: 1100px;
  }

  .item {
    width: 260px;
    height: 230px;
    border-radius: 8px;
  }

  #gallery-img {
    display: block;
    object-fit: cover;
    object-position:top center;
    border-radius: 8px;
  }

}